// Resets, clearfix
@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";

$black-color: #0d0c0d;
$light-black-color: #131312;
$lightgray-color: rgba(255, 255, 255, 0.619608);

// media query ranges
$xsmall: "only screen and (min-width: 320px)";
$small: "only screen and (min-width: 480px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 992px)";
$xlarge: "only screen and (min-width: 1200px)";

// Mixins

@mixin xsmall {
  @media #{$xsmall} {
    @content;
  }
}

@mixin small {
  @media #{$small} {
    @content;
  }
}

@mixin medium {
  @media #{$medium} {
    @content;
  }
}

@mixin large {
  @media #{$large} {
    @content;
  }
}

@mixin xlarge {
  @media #{$xlarge} {
    @content;
  }
}

body {
  font-family: 'PT Serif', serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background-color: $black-color;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

.title {
  font-family: 'PT Serif', serif;
  font-size: 5em;
  margin-bottom: 20px;
}

.subtitle1 {
  color: $lightgray-color;
  letter-spacing: 1px;
}

.subtitle2 {
  color: $lightgray-color;
  letter-spacing: 1px;
}
.navbar-default {
  margin: 0 auto;
  z-index: 500;
  width: 100vw;
  background-color: $black-color;
  color: white;
  text-align: center;
  border-color: $black-color;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: $lightgray-color;

}

.navbar-default .navbar-nav>li>a {
  color: $lightgray-color;
}
.navbar .navbar-collapse {
  text-align: center;
  color: $lightgray-color;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.mainContainer {
  flex: 1;
  width: 100vw;
}

.reviewContainer {
  flex: 1;
  width: 100vw;
  padding: 0 0 80px;
}

.welcomeMessageContainer, .addContainer {
  height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .82) 91%), url('../images/rose-background.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .82) 91%), url('../images/rose-background.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.reviewContainer {
  height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.welcomeMessage, .addTitle{
  box-sizing: border-box;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  padding: 10px;
  text-shadow: 2px 2px black;
  color: white;
  margin-bottom: 25px;
}

.formContainer {
  text-align: left;
  margin: 0 auto;
  width: 65%;
}

.form-group label {
  font-size: 1.25em;
  margin-bottom: 3px;
}

.label-info {
  background-color: transparent;
}
#upload-file-info {
  display: initial;
  width: 50%;
}
#yourInfo {
  display: none;
}

.review {
  color: white;
  margin-left: 5vw;
  margin-bottom: 5vh;
  text-align: center;
}

.col-md-5 {
  height: 20vh;
  margin-bottom: 80px;

  @include small {
    height: 35vh;
    margin-bottom: 25px;
  }

  @include xsmall {
    height: 35vh;
    margin-bottom: 25px;
  }
}

.singleReview {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
}

.showPicture {
  width: 40%;
  height: 40%;
  margin-top: 25px;

  @include large {
    width: 60%;
    height: 60%;
  }

  @include medium {
    width: 65%;
    height: 65%;
  }

  @include small {
    width: 60%;
    height: 60%;
  }

  @include xsmall {
    width: 65%;
    height: 65%;
  }
}
.reviewTextContainer {
  margin: 0 auto;
  width: 75%;
}
.reviewText {
  margin-top: 25px;
  white-space: pre-wrap;
  text-align: left;
}

.flavors {
  margin-top: 25px;
  color: saddlebrown;
  text-align: left;
}

.price {
  margin-top: 5px;
  color: green;
  text-align: left;
}

.finalReview {
  margin-top: 5px;
  color: gold;
  text-align: left;
}

.aboutContent {
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 150%;
}

.contact {
  font-size: 1.5em;
}

.aboutWelcome {
  margin-top: 20px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  z-index: 2000;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.reviewListFooter {
  position: fixed;
  height: 100px;
  bottom: -25px;
  background-color: $light-black-color;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 15px;
}

.pagination {
  margin: 0 auto;
}
.pagination>li>a {
  background-color: $light-black-color;
  color: white;
  border: none;
}

.pagination>li>a:hover {
  background-color: $light-black-color;
  border: none;
}

.pagination>li.active>a {
  background-color: $light-black-color;
  color: blue;
  border: none;
}

.pagination>li.active>a:hover {
  background-color: $light-black-color;
  color: blue;
  border: none;
}

.cigarThumbnail {
  max-width: 45%;
  height: auto;

  @include xsmall {
    max-width: 60%;
  }
  @include small {
    max-width: 55%;
  }
  @include medium {
    max-width: 45%;
  }
  @include large {
    max-width: 65%;
  }
  @include xlarge {
    max-width: 45%;
  }
}