// Resets, clearfix
@import "sass/partials/_reset.scss";
@import "sass/partials/_clearfix.scss";

$black-color: #070707;
$lightgray-color: rgba(255, 255, 255, 0.619608);

// media query ranges
$small: "only screen and (min-width: 200px) and (max-width: 760px)";

// Mixins
@mixin small {
  @media #{$small} {
    @content;
  }
}


body {
  font-family: 'PT Serif', serif;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: $black-color;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

.title {
  font-family: 'PT Serif', serif;
  font-size: 5em;
  margin-bottom: 20px;
}

.subtitle1 {
  color: $lightgray-color;
  letter-spacing: 1px;
}

.subtitle2 {
  color: $lightgray-color;
  letter-spacing: 1px;
}
.navbar-default {
  margin: 0 auto;
  z-index: 500;
  width: 100vw;
  background-color: $black-color;
  color: white;
  text-align: center;
  border-color: $black-color;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: $lightgray-color;

}

.navbar-default .navbar-nav>li>a {
  color: $lightgray-color;
}
.navbar .navbar-collapse {
  text-align: center;
  color: $lightgray-color;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.mainContainer {
  flex: 1;
  width: 100vw;
}
.welcomeMessageContainer, .addContainer {
  height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .82) 91%), url('../images/rose-background.jpg');
  background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, .46) 1%, rgba(0, 0, 0, .82) 91%), url('../images/rose-background.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.welcomeMessage, .addTitle{
  box-sizing: border-box;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  padding: 10px;
  text-shadow: 2px 2px black;
  color: white;
  margin-bottom: 25px;
}

.formContainer {
  text-align: left;
  margin: 0 auto;
  width: 65%;
}

.form-group label {
  font-size: 1.25em;
  margin-bottom: 3px;
}

.label-info {
  background-color: transparent;
}
#upload-file-info {
  display: initial;
  width: 50%;
}
#yourInfo {
  display: none;
}

.review {
  color: white;
  opacity: 0.9;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.singleReview {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
}
.reviewTextContainer {
  margin: 0 auto;
  width: 75%;
}
.reviewText {
  margin-top: 25px;
  white-space: pre-wrap;
  text-align: left;
}

.flavors {
  margin-top: 25px;
  color: saddlebrown;
  text-align: left;
}
.finalReview {
  margin-top: 5px;
  color: gold;
  text-align: left;
}
.footer {
  font-family: 'Montserrat', sans-serif;
  z-index: 2000;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 40px;
}