doctype html
html(lang='en')
  head
    meta(charset='UTF-8', ,='', name='viewport', content='width=device-width, initial-scale=1')
    title New Review
    // Bootstrap CDN
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/non-index.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto|PT+Serif', rel='stylesheet')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') HOME
            li
              a(href='/about') ABOUT
            li
              a(href="/reviews") REVIEWS
            li
              a(href='/contact') CONTACT
    .mainContainer
      .addContainer
        .addTitle
          h1 Add a Review
        form(action="/reviews", method="POST", id="addReviewForm")
          div.input
            span.label Cigar Name
            input(type="text", name="cigarName")
          div.input
            span.label Author
            input(type="text", name="cigarReviewAuthor")
          div.input
            span.label Brand
            input(type="text", name="cigarBrand")
          div.input
            span.label Size
            input(type="text", name="cigarSize")
          div.input
            span.label Shape
            input(type="text", name="cigarShape")
          div.input
            span.label Price at time of review
            input(type="text", name="cigarPrice")
          div.input
            span.label Flavors
            input(type="text", name="cigarFlavors")
          div.input
            span.label Smoke Time
            input(type="text", name="cigarSmokeTime")
          div.input
            span.label Grade
            input(type="text", name="cigarGrade")
          div.input
            span.label Review Date
            input(type="date", name="cigarReviewDate")
          div.input
            span.label Review Text
            input(type="text", name="cigarReviewText")
      .footer
        | A cigar blog by Adam Akamine. © 2016. All Rights Reserved.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
