doctype html
html(lang='en')
  head
    meta(charset='UTF-8', ,='', name='viewport', content='width=device-width, initial-scale=1.0')
    title Reviews
    link(rel='stylesheet', type='text/css', href='/css/index.css')
  body
    .wrapper
      .hero
        .nav-bar.w-nav(data-animation='default', data-collapse='medium', data-contain='1', data-duration='400')
          .w-container
            nav.nav-menu(role='navigation')
              a.nav-link.w-nav-link(href='/') Home
              a.nav-link.w-nav-link(href='/reviews') Reviews
              a.nav-link.w-nav-link(href='/gallery') Gallery
              a.nav-link.w-nav-link(href='/contact') Contact
        .hero-container.w-container
          .hero-subtitle Welcome to the
          h1.hero-heading(data-ix='appear') Lounge de Roza
        .hero-subtitle Have a seat, grab a stogie, smell the roses...
      .footer
        .w-container
          .footer-text A cigar blog by Akamu. © 2016. All Rights Reserved.