/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
body {
  font-family: 'PT Serif', serif;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #0d0c0d;
  overflow-x: hidden; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.25em; }

.title {
  font-family: 'PT Serif', serif;
  font-size: 5em;
  margin-bottom: 20px; }

.subtitle1 {
  color: rgba(255, 255, 255, 0.619608);
  letter-spacing: 1px; }

.subtitle2 {
  color: rgba(255, 255, 255, 0.619608);
  letter-spacing: 1px; }

.navbar-default {
  margin: 0 auto;
  z-index: 500;
  width: 100vw;
  background-color: #0d0c0d;
  color: white;
  text-align: center;
  border-color: #0d0c0d; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  color: rgba(255, 255, 255, 0.619608); }

.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.619608); }

.navbar .navbar-collapse {
  text-align: center;
  color: rgba(255, 255, 255, 0.619608); }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white; }

.mainContainer {
  flex: 1;
  width: 100vw; }

.welcomeMessageContainer, .addContainer {
  height: 100vh;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, 0.46) 1%, rgba(0, 0, 0, 0.82) 91%), url("../images/rose-background.jpg");
  background-image: radial-gradient(circle farthest-corner at 50% 100%, rgba(0, 0, 0, 0.46) 1%, rgba(0, 0, 0, 0.82) 91%), url("../images/rose-background.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat; }

.welcomeMessage, .addTitle {
  box-sizing: border-box;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  padding: 10px;
  text-shadow: 2px 2px black;
  color: white;
  margin-bottom: 25px; }

.formContainer {
  text-align: left;
  margin: 0 auto;
  width: 65%; }

.form-group label {
  font-size: 1.25em;
  margin-bottom: 3px; }

.label-info {
  background-color: transparent; }

#upload-file-info {
  display: initial;
  width: 50%; }

#yourInfo {
  display: none; }

.review {
  color: white;
  margin-left: 5vw;
  margin-bottom: 5vh; }

.col-md-5 {
  height: 20vh; }
  @media only screen and (min-width: 551px) and (max-width: 760px) {
    .col-md-5 {
      height: 35vh; } }

.singleReview {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center; }

.showPicture {
  width: 40%;
  height: 350px;
  margin-top: 25px;
  max-width: 600px; }
  @media only screen and (min-width: 901px) and (max-width: 1250px) {
    .showPicture {
      width: 60%;
      height: 350px; } }
  @media only screen and (min-width: 761px) and (max-width: 900px) {
    .showPicture {
      width: 65%;
      height: 300px; } }
  @media only screen and (min-width: 551px) and (max-width: 760px) {
    .showPicture {
      width: 60%;
      height: 30vh; } }
  @media only screen and (min-width: 50px) and (max-width: 550px) {
    .showPicture {
      width: 65%;
      height: 20vh; } }

.reviewTextContainer {
  margin: 0 auto;
  width: 75%; }

.reviewText {
  margin-top: 25px;
  white-space: pre-wrap;
  text-align: left; }

.flavors {
  margin-top: 25px;
  color: saddlebrown;
  text-align: left; }

.price {
  margin-top: 5px;
  color: green;
  text-align: left; }

.finalReview {
  margin-top: 5px;
  color: gold;
  text-align: left; }

.aboutContent {
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 150%; }

.contact {
  font-size: 1.5em; }

.aboutWelcome {
  margin-top: 20px; }

.footer {
  font-family: 'Montserrat', sans-serif;
  z-index: 2000;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 40px; }
